        body {
            padding: 1em;
            max-width: 1600px;
            margin: 0 auto;
        }


        @media (min-width: 576px) {
        body {
            padding: 3em;
        }
        }
        

        body {
            font-family: "Droid Serif", serif;
        }
        
        #hola {
            margin: 4em 0;
        }
        
        #bajada {
            margin: 2em 0;
        }
        
        #resumen {
            font-size: 1.5em;
            margin: 2em 0;
        }
        
        #chau {
            font-size: 1.5em;
            margin: 4em 0;
        }
        
        
        .destacar {
            color: black;
            background-color: yellow;
        }
        
        .col-sm {
            padding: 2em;
        }
        
        .izquierda {
            font-size: 1.5em;
        }
        
        .derecha {
            font-size: 1.2em;
        }
        
        .row a:link {
            color: #008;
            background-color: #ffa;
        }
        
        .row a:visited {
            color: #666;
        }

.captura img {

width: 100%;
max-width: 800px;

}